//---------------------------------------
// Layout breakpoints
// --------------------------------------
$media-breakpoint-small: 34em;
$media-breakpoint-medium: 48em;
$media-breakpoint-large: 62em;
$media-breakpoint-extra-large: 75em;

//---------------------------------------
// Forms and inputs
//---------------------------------------
$input-border-radius: 0;

//---------------------------------------
// Buttons
//---------------------------------------
$button-border-radius: 0;

//---------------------------------------
// Colors
//---------------------------------------
$color-text-error: #E44141